
/* include this always in css probably */
* { 
  margin: 0; 
  padding: 0; 
 } 

#sbutton {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  /* margin: 1rem; */
}

.number1_text {
  margin-top: 1rem;
}

.number2_text {
  margin-top: 0.5rem;
}

li {
  
  font-size: 14px;
    margin-left: 20px;
    /* list-style-type: circle; */

}


a:link {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif, sans-serif; font-style: italic; font-weight: 700;}
a:visited {text-decoration-line:none; color: rgb(119, 103, 239); font-size: 1.5rem; font-family: 'Overlock', Helvetica, sans-serif; font-style: italic; font-weight: 700;}
a:hover { color: black}
a:active { color: black}